html {
    background-color: #121212;
}

button {
    outline: none;
    background: none;
    border: none;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    overflow-y: hidden;
    background-color: #121212;
}

.choose-file {
    color: #BB8cFc;
    font-size: 29px;
    font-family: 'Bree Serif', serif;
    letter-spacing: 1.3px;
    border: 1px solid #525055;
    padding: 10px 35px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.choose-file:hover {
    background-color: #292929;
}

